.catalog {
  padding-left: 16px;
  padding-right: 16px;

  @media (min-width: $tablet-screen) {
    padding-left: 20px;
    padding-right: 20px;
  }

  @media (min-width: $desktop-screen) {
    padding-left: 50px;
    padding-right: 50px;
  }
}

.catalog__title {
  margin: 0;

  font-family: $secondary-font;
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;

  @media (min-width: $tablet-screen) {
    font-size: 36px;
    line-height: 55px;
    font-weight: 500;
  }
}

.catalog__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 32px;
  max-width: 288px;
  margin: 24px auto 0;
  padding: 0;

  list-style-type: none;

  @media (min-width: $tablet-screen) and (max-width: $tablet-screen-max) {
    gap: 37px 28px;
    max-width: 700px;
    margin-top: 26px;
  }

  @media (min-width: $desktop-screen) {
    max-width: 1180px;
    margin-top: 26px;
  }
}

.catalog__item {
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: end;
  max-width: 288px;
  width: 100%;
  min-height: 347px;
  box-sizing: border-box;

  overflow: hidden;
  border-radius: 13px;

  &::after {
    @include pseudo-element(100%, 100%);

    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;

    background-color: $catalog-item-background-color;
  }

  &:hover {
    box-shadow: 0 4px 15px 0 $catalog-item-shadow-color;
  }

  @media (min-width: $tablet-screen) {
    max-width: 336px;
    min-height: 420px;

    border-radius: 10px;
  }

  @media (min-width: $desktop-screen) {
    max-width: 372px;
    min-height: 372px;
  }
}

.catalog__item-best-price {
  position: absolute;
  left: 21px;
  top: 21px;
  z-index: 1;

  display: none;
  justify-self: start;
  height: max-content;
  max-width: max-content;
  padding: 4px 4px 5px 16px;
  margin: 0;

  font-family: $secondary-font;
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
  color: $neutral-secondary-color;

  background-color: $accent-color;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;

  &::after {
    @include pseudo-element(36px, 30px);
    position: absolute;
    top: 0;
    right: -36px;

    mask-image: url("../../icons/stack.svg#best-price-ticket");
    background-color: $accent-color;
  }

  @media (min-width: $tablet-screen) {
    left: 24px;
    top: 24px;
  }
}


.catalog__item--best-price:hover .catalog__item-best-price {
  display: flex;
}

.catalog__item--reserved {
  cursor: pointer;

  .catalog__item-best-price {
    display: none;
  }

  .catalog__item-title {
    pointer-events: none;
  }

  &:hover {
    .catalog__item-best-price {
      display: none;
    }
  }

  .catalog__item-reserved-container {
    display: flex;
  }

  .catalog__item-reserving-container {
    display: none;
  }
}

.catalog__item--reserved .catalog__item-text-container {
  &::before {
    @include pseudo-element(100%, 100%);

    position: absolute;
    left: 0;
    top: 0;

    background-color: $neutral-secondary-color;
    opacity: 0.4;
  }
}

.catalog__item-picture {
  position: absolute;
  top: 0;
  left: 0;

  max-height: 347px;

  &::before {
    @include pseudo-element(100%, 100%);

    position: absolute;

    background: $catalog-item-gradient;
  }

  @media (min-width: $tablet-screen) {
    max-height: 420px;
  }

  @media (min-width: $desktop-screen) {
    max-height: 372px;
  }
}

.catalog__item-text-container {
  position: relative;
  z-index: 1;

  display: flex;
  flex-direction: column;
  justify-content: end;
  height: 100%;
  padding: 21px;
  padding-top: 61px;

  color: $neutral-secondary-color;

  @media (min-width: $tablet-screen) {
    padding: 24px;
    padding-top: 64px;
    padding-bottom: 22px;
  }
}

.catalog__item-title-text {
  margin: 0;

  font-family: $secondary-font;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  color: $neutral-secondary-color;

  @media (min-width: $tablet-screen) {
    font-size: 24px;
    line-height: 32px;
  }
}

.catalog__item-title {
  text-decoration: none;

  &:hover,
  &:focus,
  &:focus-visible {
    .catalog__item-title-text {
      text-decoration: underline;
      text-decoration-style: solid;
      text-decoration-thickness: 1px;
      text-underline-offset: 2px;
      text-decoration-skip-ink: none;
    }
  }

  &:active {
    opacity: 0.5;

    .catalog__item-title-text {
      text-decoration: none;
    }
  }
}

.catalog__item-description {
  margin-top: 10px;
  margin-bottom: 0;

  font-size: 14px;
  line-height: 21px;


  @media (min-width: $tablet-screen) {
    font-size: 16px;
    line-height: 24px;
  }
}

.catalog__item-reserving-container {
  position: relative;
  z-index: 1;

  display: flex;
  flex-direction: column;
  padding: 21px;
  padding-top: 0;

  color: $neutral-secondary-color;

  &::before {
    @include pseudo-element(calc(100% - 42px), 1px);

    position: absolute;
    top: 0;

    background-color: $neutral-secondary-color;
    opacity: 0.2;
  }

  @media (min-width: $tablet-screen) {
    padding: 0 24px 24px;

    &::before {
      width: calc(100% - 48px);
    }
  }

  @media (min-width: $desktop-screen) {
    flex-direction: row;
    justify-content: space-between;
    gap: 27px;
    padding-bottom: 22px;
  }
}

.catalog__item-price {
  margin-top: 18px;
  margin-bottom: 0;

  font-size: 14px;
  line-height: 21px;
  font-weight: 700;

  @media (min-width: $tablet-screen) {
    margin-top: 17px;

    font-size: 16px;
    line-height: 24px;
  }
}

.catalog__item-price-from {
  font-family: $secondary-font;
  font-size: 17px;
  line-height: 24px;

  @media (min-width: $tablet-screen) {
    font-size: 19px;
  }
}

.catalog__item-price-number {
  font-family: $secondary-font;
  font-size: 20px;
  line-height: 32px;
  font-weight: 700;
  color: $primary-2-color;

  @media (min-width: $tablet-screen) {
    margin-left: 3px;

    font-size: 24px;
  }
}

.catalog__item-price-currency {
  margin-left: 4px;
  display: inline-block;
  margin-bottom: -2px;

  font-size: 20px;
  line-height: 32px;
  font-weight: 400;

  opacity: 0.6;

  @media (min-width: $tablet-screen) {
    font-size: 23px;
  }
}

.catalog__item-button {
  width: 100%;
  height: max-content;
  margin-top: 16px;
  padding: 8px 0 10px;

  @media (min-width: $tablet-screen) {
    padding: 11px 0 13px;
  }

  @media (min-width: $desktop-screen) {
    max-width: 180;
    padding: 11px 24px 13px 25px;
    margin-top: 23px;
  }
}

.catalog__item-reserved-container {
  z-index: 1;

  display: none;
  justify-content: center;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
  padding: 25px 21px 29px;

  background-color: $secondary-color;
}

.catalog__item-reserved-text {
  margin: 0;

  font-size: 14px;
  line-height: 21px;
  text-align: center;
  color: $neutral-secondary-color;
  letter-spacing: 0;
}

.catalog__item-reserved-text-link {
  font-weight: 600;
  color: $primary-2-color;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}
