.catalog {
  padding: 0 16px;

  @media (min-width: $tablet-screen) {
    padding: 0 20px;
  }

  @media (min-width: $desktop-screen) {
    padding: 0 50px;
  }
}

.catalog__title {
  margin: 0;

  font-family: $secondary-font;
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;

  @media (min-width: $tablet-screen) {
    font-size: 36px;
    line-height: 55px;
    font-weight: 500;
  }
}

.catalog__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 32px;
  max-width: 288px;
  margin: 24px auto 0;
  padding: 0;

  list-style-type: none;

  @media (min-width: $tablet-screen) and (max-width: $tablet-screen-max) {
    gap: 37px 28px;
    max-width: 700px;
    margin-top: 26px;
  }

  @media (min-width: $desktop-screen) {
    max-width: 1180px;
    margin-top: 26px;
  }
}
