.link {
  color: $primary-2-color;
  text-decoration: none;

  &:hover,
  &:focus,
  &:focus-visible {
    text-decoration: underline;
  }

  &:active {
    text-decoration: none;
    color: $link-active-color;
  }
}
